* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.2rem;
}

.container {
    min-height: 100vh;
}

main {
    padding: 1em .678em;
}

.content-header nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: rgb(5, 107, 54);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.content-header li {
    padding: 0.4em 0.5em;
}

.background-header {
    background-color: rgb(20, 123, 69);
    min-height: 100px;
    max-height: 250px;
    position: relative;
    overflow: hidden;
    padding-left: 0.4em;
    color: rgb(168, 246, 144);
    height: 100%;
}

.background-header span {
    text-transform: uppercase;
    color: white;
}

.background-header:before {
    content: '';
    background: url(img/background-ball.png) no-repeat center/cover;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 45px;
    right: -50px;
    z-index: 2;
    transform: rotate(10deg);
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
}

.tabel-meciuri {
    margin: 0.86em auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: left;
    min-width: 300px;
    width: 100%;
    max-width: 485px;
}

main {
    min-height: calc(100vh - 161.5px);
    padding: 0 .3em;
}

.table-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(231, 231, 231);
    width: 100%;
    text-transform: capitalize;
}

.table-title {
    width: 100%;
    background-color: rgb(197, 197, 197);
    padding: 0.3em;
    border-bottom: solid 2px black;
}

.table-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: solid 2px black;
}

.score {
    text-align: center;
    padding: 0.3em;
}

.right-team {
    text-align: right;
}

.left-team,
.right-team {
    padding: .3em;
    width: 35%;
}

.win,
.lose {
    text-align: center;
}

.win span {
    text-transform: capitalize;
}

@media (min-width:500px) {
    header {
        font-size: 1.6rem;
        height: 35vh;
    }
    h1 {
        font-size: 5rem;
        margin-top: 0;
    }
    .table-content {
        font-size: 2rem;
    }
    .table-title {
        font-size: 2.3rem;
    }
    .tabel-meciuri {
        max-width: 650px;
    }
    .background-header:before {
        top: 155px;
        width: 250px;
        height: 250px;
    }
    .background-header:after {
        top: 50px;
        height: 280px;
    }
}